:root {
    /* Brand Colors */
    --background: #F8F8FA;
    --primary: #6A0029;
    --secondary: #564145;
    --tertiary: #49635e;

    /* Hue */
    --circle-bg-1: #DCF3E6;
    --circle-bg-2: #EBE0F8;
    --circle-bg-3: #FCE1E4;

    /* Surfaces */
    --surface: #f3fcf0;
    --on-surface: #191c19;
    --surface-dim: #d4ddd1;
    --surface-bright: #f3fcf0;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #edf6ea;
    --surface-container: #e8f0e5;
    --surface-container-high: #e2eadf;
    --surface-container-highest: #dce4d9;

    /* Outlines & Variants */
    --outline: #727970;
    --outline-variant: #c1c9be;
    --on-surface-variant: #424941;

    /* Typography */
    --font-headline: 'Newsreader', serif;
    --font-body: 'Manrope', sans-serif;

    /* Spacing & Roundness */
    --roundness-sm: 4px;
    --roundness-md: 8px;
    --roundness-lg: 16px;
    --roundness-full: 9999px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* Background Animation */
@property --hue1 {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --hue2 {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    cursor: none;


    background-color: var(--background);
    /* background-image: linear-gradient(in oklch longer hue to right,
            oklch(0.93 0.08 var(--hue1) / 50%),
            oklch(0.93 0.08 var(--hue2) / 50%)),
        linear-gradient(in oklch longer hue to bottom,
            oklch(0.93 0.08 var(--hue1) / 50%),
            oklch(0.93 0.08 var(--hue2) / 50%));
    background-size: 100% 100%;
    color: PaleVioletRed;

    animation-name: anim_bg;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */


}

/* Background Circles */
.hue_circles div:nth-child(1) {
    position: absolute;
    left: 5dvw;
    top: -10dvw;
    background-color: var(--circle-bg-1);
    opacity: 0.6;
    width: max(36dvw, 200px);
    height: max(26dvw, 200px);
    border-radius: 80%;
    filter: blur(13px);
    box-shadow: 0 0 30px var(--circle-bg-1);
}

.hue_circles div:nth-child(2) {
    position: absolute;
    right: 12dvw;
    top: 1dvw;
    background-color: var(--circle-bg-2);
    opacity: 0.6;
    width: max(38dvw, 200px);
    height: max(28dvw, 200px);
    border-radius: 80%;
    filter: blur(15px);
    box-shadow: 0 0 30px var(--circle-bg-2);
}

.hue_circles div:nth-child(3) {
    position: absolute;
    bottom: 2dvw;
    left: 22dvw;
    background-color: var(--circle-bg-3);
    opacity: 0.6;
    width: max(30dvw, 200px);
    height: max(30dvw, 200px);
    border-radius: 100%;
    filter: blur(15px);
    box-shadow: 0 0 30px var(--circle-bg-3);
}

.hue_circles div:nth-child(4) {
    position: absolute;
    bottom: 0dvw;
    right: 10dvw;
    background-color: var(--circle-bg-1);
    opacity: 0.6;
    width: max(25dvw, 200px);
    height: max(25dvw, 200px);
    border-radius: 100%;
    filter: blur(15px);
    box-shadow: 0 0 30px var(--circle-bg-1);
}

@media screen and (max-width: 640px) {
    body {
        cursor: default;
    }

    #cursor-dot,
    #cursor-ring {
        display: none !important;
    }
}

/* CUSTOM CURSOR */
#cursor-dot {
    width: 8px;
    height: 8px;
    background: var(--primary);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: transform 0.1s, width 0.2s, height 0.2s, background 0.2s;
}

#cursor-ring {
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--primary);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9998;
    transform: translate(-50%, -50%);
    transition: transform 0.12s cubic-bezier(0.23, 1, 0.32, 1), width 0.3s,
        height 0.3s, border-color 0.3s;
}

h1,
h2 {
    font-family: 'Newsreader', serif;
    font-weight: 700;
}

section {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/* Background Animation */

@keyframes anim_bg {
    0% {
        --hue1: 0deg;
        --hue2: 300deg;
    }

    100% {
        --hue1: 360deg;
        --hue2: 660deg;
    }
}


/* Dark Mode */

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #ffb3bc;
        --on-primary: #540722;
        --secondary: #3b4b45;
        --tertiary: #b0ccbc;

        --surface: #111411;
        --on-surface: #e2e3df;
        --surface-dim: #111411;
        --surface-bright: #373a36;
        --surface-container-lowest: #0c0f0c;
        --surface-container-low: #191c19;
        --surface-container: #1d211d;
        --surface-container-high: #272b27;
        --surface-container-highest: #323631;

        --outline: #8c9389;
        --outline-variant: #424941;
        --on-surface-variant: #c1c9be;
    }
}



/* body:has(a:hover) #cursor-dot,
body:has(.card:hover) #cursor-dot {
    width: 16px;
    height: 16px;
    background: var(--c-accent2);
}

body:has(a:hover) #cursor-ring,
body:has(.card:hover) #cursor-ring {
    width: 64px;
    height: 64px;
    border-color: var(--c-accent2);
} */